[main]
Description=211.147.81.190
Host=211.147.81.190
AuthType=1
GroupName=handvpn
GroupPwd=
enc_GroupPwd=04F3C9B98694A497951D4A936060CF42BAC63604C6F6C01A5005357C12DBD97B4354E47841CDBFE1BD04090A7BDBA87E
EnableISPConnect=0
ISPConnectType=0
ISPConnect=office test
ISPPhonebook=C:\Users\chenwenbin\AppData\Roaming\Microsoft\Network\Connections\Pbk\rasphone.pbk
ISPCommand=
Username=HAND01
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
